<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 4px;
        }
        
        tr:nth-child(even) {
        background-color: #007C00;
        }
    </style>
</head>
<body>
    <h1 align="center">PACIENTE</h1>
    <table align="center">
        <tr>
            <th>DNI</th>
            <th>EDAD</th>
            <th>PESO</th>
            <th>ALTURA</th>
        </tr>
        <tr>
            <td>{{paciente.dni}}</td>
            <td>{{paciente.edad}}</td>
            <td>{{paciente.peso}}</td>
            <td>{{paciente.altura}}</td>
        </tr>
    </table>
    <br>

    <h1 align="center">PATOLOGIAS</h1>
    <table align="center">
        <tr>
            <th>Nombre</th>
            <th>Nombre</th>
        </tr>
    {% for patologia in patologias%}
        <tr>
            <td>{{patologia.nombre}}</td>
            <td>{{patologia.grado}}</td>
        </tr>
    {% endfor %}
    </table>
    <br>

</table>
</body>
</html>